.feature{
    color: lavender;
}

.feature2{
    color: #000;
}

.sliderCSS {
            background: oldlace;
        }
.dropDownCss {
    background: powderblue;
}

.masterCSS{
    background: #000;
}